<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      <h1>ServerUp Alert UP:-</h1>
      =========================================================================
      
  <h4><strong><%= @server.name %>(<%= @server.url %>)</strong> is UP again at <%= @server.updated_at.strftime("%d-%m-%y") %>  <%= @server.updated_at.strftime("%H:%M:%S%p") %>, after <%= @downtime %>m of downtime.</h4>

  </body>
</html>

