<% server = @server if @server.present? %>
  <legend>Contact</legend>

  <div id="right_form">
    <%= form_tag server_contacts_servers_path(@server.id), method: :put, remote:true, class:'form-search', id:'form_search_contacts' do %>
      <div class="input-append">
        <input type="text" id="contact" placeholder="Search Contacts" data-provide="typeahead" autocomplete="off" class="span3 search-query" />
        <%= submit_tag "Add", class:'btn' %>
      </div>
    <% end %>

    <%= link_to('New Contact', 'javascript:;', id:'new_contact_link') %>

    <div id="new_contact_div" style="display:none" >
      <%= simple_form_for @contact, url: server_contacts_servers_path(@server) ,remote: true do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.submit "Add",class: "btn btn-success" %>
      <% end %> 
    </div>
  </div>


  <table id="table_already_added_contacts" class="table table-striped">
    <thead>  
      <tr>
      <td>Name:</td>
      <td>Email:</td>
      <td></td>
      </tr>
    </thead>
    <tbody>  
      <% contacts_added = server.contacts.reverse %>
      <% contacts_added.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= link_to 'Delete', server_contacts_server_path(server, contact), confirm:'Are you sure?', method: :delete, remote: true %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>    
