<div class="row-fluid">
  <div class="span12 center" style="text-align: center;">         
    <ul class="stat-boxes">
      <% @servers.each do |server| %>
      <li class="popover-visits" data-original-title="" title="">
        <div class="left">
          <span>
            <%= colourize_status server.status %>
          </span>
            <%= link_to server, title: "show" do %><i class="icon-road"></i><% end %>
            <%= link_to edit_server_path(server), title: "edit" do %><i class="icon-edit"></i><% end %>
            <%= link_to server, method: :delete, data: { confirm: 'Are you sure?' }, title: "destroy" do %><i class="icon-trash"></i><% end %>
        </div>
        <div class="right">
          <nobr><%= link_to server.name, server.full_uri, title: server.full_uri %></nobr>
        </br>
          <nobr><%= "#{distance_of_time_in_words_to_now(server.updated_at)} ago" %></nobr>
        </div>
      </li>
      <% end %>
    </ul>
  </div>  
</div>