<legend>
  Listing servers
  <span class="pull-right">
    <%= link_to new_server_path, class: 'btn btn-warning' do %>
      New Server
      <i class="icon-plus-sign"></i>
    <% end %>
  </span>
</legend>

<table  class="table table-striped table-bordered">
  <colgroup>
    <col class="span9">
    <col class="span2">
    <col class="span1">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <td><%= link_to server.name, server.full_uri, title: server.full_uri %></td>
      <td>
        <%= colourize_status server.status %>
      </td>
      <td>
        <%= link_to server, title: "show" do %>
          <i class="icon-road"></i>
        <% end %>
        <%= link_to edit_server_path(server), title: "edit" do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to server, method: :delete, data: { confirm: 'Are you sure?' }, title: "destroy" do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
