<legend>
  Listing servers
  <span class="pull-right">
    <%= link_to new_server_path, class: 'btn btn-warning' do %>
      New Server
      <i class="icon-plus-sign"></i>
    <% end %>
  </span>
</legend>

<ul class="thumbnails">
  <% @servers.each do |server| %>
    <li class="span3">
      <div class="thumbnail">
        </span>
          <strong><%= link_to server.name, server.full_uri, title: server.full_uri %></strong>
          <span class="pull-right"><%= colourize_status server.status %></span>
        </span>
        <p style="padding-top: 10px;">
          <%= link_to server, title: "show" do %>
            <i class="icon-road"></i>
          <% end %>
          <%= link_to edit_server_path(server), title: "edit" do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to server, method: :delete, data: { confirm: 'Are you sure?' }, title: "destroy" do %>
            <i class="icon-trash"></i>
          <% end %>
          <span class="last-updated-at"><%= "checked #{distance_of_time_in_words_to_now(server.updated_at)} ago" %></span>
        </p>
      </div>
    </li>
  <% end %>
</ul>
