<%= yield(:head) %>
<% content_for :head do %>
<script type="text/javascript">
   $(document).ready(function(){
     var availableContacts = <%= raw Contact.populate_contacts(current_user, params[:server_id]) %>;
     $('#contact').typeahead({

        source: function (query, process) {
          names = [];
          map = {};
     

          $.each(availableContacts, function (i, name) {
            var q=name.name +"  \""+name.email+"\"";
            map[q] = name;
            names.push(q);
          });
          process(names);
        },

        updater: function (item) {
          $('#hidden_id').val(map[item].id);
          return item;
        }
      });
   });
  </script>
 <% end %> 

<div class="ui-widget">
  <label for="contacts">Contacts: </label>
  <%= form_tag assign_path do %>
  <input id="contact" data-provide="typeahead" autocomplete="off" />
  <%= hidden_field_tag(:hidden_id) %>
  <%= submit_tag "Add This User", class:'btn btn-success' %>
  <% end %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;
  <strong>OR</strong>&nbsp;&nbsp;
  <%= link_to 'Add New Contact', new_server_contact_path, class:'btn btn-success' %>
</div>
