<head>
  <meta charset="utf-8" />
  <script>

   $(document).ready(function(){

     var availableContacts = <%= raw Contact.populate_contacts(current_user, params[:server_id]) %>;
     $('#contact').typeahead({

        source: function (query, process) {
          names = [];
          map = {};
     

          $.each(availableContacts, function (i, name) {
            map[name.name] = name;
            names.push(name.name);
          });
          process(names);
        },

        updater: function (item) {
          $('#hidden_id').val(map[item].id);
          return item;
        }
      });
   });
  </script>
</head>
<body>
<div class="ui-widget">
  <label for="contacts">Contacts: </label>
  <%= form_tag assign_path do %>
  <input id="contact" data-provide="typeahead" autocomplete="off" />
  <%= hidden_field_tag(:hidden_id) %>
  <%= submit_tag "Add This User", :class => 'btn btn-success' %>
  <% end %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;
  <strong>OR</strong>&nbsp;&nbsp;
  <%= link_to 'New Contact', new_server_contact_path, class:'btn btn-success' %>
</div>

</body>
