<legend>Listing contacts</legend>

<table id="contacts_listing" class="table table-bordered">
 <thead> 
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody> 

<% @contacts.each do |contact| %>
  <tr class="success">
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<tbody>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
