<legend>Listing contacts</legend>

<table id="contacts_listing" class="table table-striped">
  <thead> 
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody> 
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <tbody>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>

<%#= link_to 'New Contact', new_contact_path, 'data-toggle' => "modal", 'data-target' => "#contactNewModal" %>


<!-- Modal -->
<div id="contactNewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactNewModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactNewModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>