<%= link_to "serverup?", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <span>
        <%= link_to new_server_path, class: 'btn btn-warning btn-small', style: 'margin-top: 7px;' do %>
          <i class="icon-plus-sign"></i>
        <% end %>
      </span>
    </li>
    

  <% end %>
</ul>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to edit_user_registration_path do %>
      <i class=" icon-user icon-white"></i>
      <%= current_user.email %>
    <% end %>
    </li>
    <li>
    <%= link_to destroy_user_session_path, :method => 'delete' do %>        
      <i class="icon-off icon-white"></i>
    <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', new_user_session_path %>  
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>